body {
    background-color: color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#topbar{
    background-color: orange;
    padding:3px; 

}
#midbar{
    margin-top: 0px;
    background-color: orange;
    padding:3px; 
}
#midbar2{
    margin-top: 365px;
    background-color: orange;
    padding:3px; 

}
#bottombar{
    background-color: rgb(163, 163, 163);
    padding-bottom: 35;
}
#bottombar2{
    background-color: rgb(163, 163, 163);
    padding-bottom: 564px;
}
#block1 {
    background-color:  rgb(163, 163, 163);;
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 800px;
    padding-top: 15;

}
#block2 {
    background-color:  rgb(163, 163, 163);;
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 60px;
    padding-top: 15;
}
#block3 {
    background-color:  rgb(163, 163, 163);;
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 60px;
    padding-top: 15;
}
#block4 {
    background-color:  rgb(163, 163, 163);;
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 50%;
    padding-top: 15;
}
.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    padding-left: 6px;
    padding-right: 6px;
    left: 870px;
    top: 20;
    background-color: rgb(41, 41, 41, 0.8);
}
.thing-container {
    position: absolute;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    left: 32.5%;
    top: 20;
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 24;
}
.contact-container{
    position: absolute;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 10px;
    left: 49.8%;
    top: 20;
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 24;
}
