body {
    background-color: color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a {
    color: white;
}
#CV_picture {
    position: absolute;
    left: 100px;
}
p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#topbar{
    background-color: orange;
    padding:3px; 

}
#topbar2{
    background-color: orange;
    padding:3px; 
}
#midbar{
    margin-top: 0px;
    background-color: orange;
    padding:3px; 
}
#midbar2{
    margin-top: 0px;
    background-color: orange;
    padding:3px; 

}
#bottombar{
    background-color: rgb(163, 163, 163);
    padding-bottom: 1.85%;
}
#bottombar2{
    background-color: rgb(163, 163, 163);
    padding-bottom: 26.35%;
}
#block1 {
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-top: 15;

}
#block2 {
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 50px;
    padding-left: 50;
    padding-bottom: 15;
    padding-top: 15;
}
#block3 {
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 60px;
    padding-top: 15;
}
#block4 {
    background-color:  rgb(163, 163, 163);
    font-size: 20;
    font-weight: 100;
    color: black;
    float: right;
    padding-right: 960px;
    padding-top: 15;
}
#block5 {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 20;
    font-weight: 100;
    color: black;
    padding-right: 30px;
    padding-left: 30;
    padding-top: 15;
    padding-bottom: 15;

}
.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    padding-left: 3px;
    padding-right: 3px;
    left: 50%;
    top: 20;
    background-color: rgb(41, 41, 41, 0.8);
}
.thing-container {
    position: absolute;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    left: 33%;
    top: 5%;
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 24;
}
.contact-container{
    position: absolute;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 10px;
    left: 49.8%;
    top: 40;
    background-color: rgb(41, 41, 41, 0.8);
    font-size: 24;
}
.link-container{
    position: absolute;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 6px;
    left: 33%;
    font-size: 24;
}
.link-container2{
    position: absolute;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 6px;
    left: 45%;
    font-size: 24;
}
th{
    text-align: left;
    font-size: 24;
    color:white;
}
td{
    font-size: 24;
    color:white;
}